/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Display flex */
nav,
.nav-title,
nav ul,
.hero,
.article,
.about-me,
footer {
  display: flex;
}

/* Navigation bar */
nav {
  justify-content: space-between;
  padding: 1.25em;
  align-items: center;
}

.nav-title {
  font-weight: bold;
  gap: 0.5em;
  font-size: 0.85em;
  align-items: center;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
  gap: 2em;
  font-size: 0.75em;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  cursor: pointer;
}

/* MAIN */

/* Hero section*/
.hero {
  background-image: url(images/home/article-image-hero.png);
  background-size: cover;
  color: white;
  flex-direction: column;
  min-height: 300px;
  justify-content: flex-end;
  padding: 1em;
}

.date {
  text-transform: uppercase;
  font-size: 0.75em;
}

.hero h2 {
  margin: 0.5em 0 1em 0;
  font-size: 2rem;
}

/* Blogs section */

.blogs {
  padding: 2em 1.25em;
}

.blogs img {
  border-radius: 3px;
  width: 100%;
}

.blogs h2 {
  color: #141414;
}

.recent-post {
  font-size: 1rem;
  margin: 3.25rem auto 0;
}

.full-hero {
  display: none;
  flex-direction: column;
  margin-bottom: 0;
  padding: 2em 2em 0 2em;
  gap: 1em;
}

.full-hero img {
  width: 100%;
  border-radius: 3px;
}

.article {
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.description {
  color: #505050;
}

.btn-view-more {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-decoration: underline;
}

.btn-view-more:hover,
.btn-view-more:active {
  cursor: pointer;
}

h3:last-of-type {
  text-align: center;
}

/* ABOUT ME */

.about-me {
  flex-direction: column;
  gap: 1em;
  padding: 0 1.25em;
}

.about-me img {
  width: 60%;
  border-radius: 50%;
}

.about-me p:first-of-type {
  margin-bottom: 3em;
}

/* Footer */
footer {
  background-color: #202020;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.25em;
  font-size: 0.75rem;
  gap: 0.25em;
}

.footer-title {
  color: #ececec;
}

.copyright {
  color: #d7d7d7;
}
